@(guide: model.content.GuideAtom, isAmp: Boolean)(implicit request: RequestHeader)

@import views.html.fragments.items.elements.facia_cards.image
@import layout.cards.{ Standard, Half }
@import layout.{FaciaWidths, ItemClasses}

@if(!isAmp) {
  @fragments.atoms.snippet(
    className = "guide",
    label = guide.data.typeLabel.getOrElse("Quick Guide"),
    headline = guide.atom.title.getOrElse(""),
    guide.id
  ){
    @for(guideImage <- guide.data.guideImage; master <- guideImage.master) {
      <div class="explainer-snippet__image">
        @image(
          Nil,
          FaciaWidths.mediaFromItemClasses(ItemClasses(mobile = Standard, tablet = Half, desktop = Some(Half))),
          maybeImageMedia = guide.image,
          maybeSrc = Some(master.file)
        )
      </div>
    }

    @for(item <- guide.data.items) {
      <div class="explainer-snippet__item">
        @item.title.map { t =>
          <div class="explainer-snippet__heading"><b>@t</b></div>
        }
        @item.body
      </div>
    }
  }
}
